@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

// ### Primary

$Light-Cyan: hsl(193, 38%, 86%);
$Neon-Green: hsl(150, 100%, 66%);

// ### Neutral

$Grayish-Blue: hsl(218, 19%, 30%);
$Dark-Grayish-Blue: hsl(221, 17%, 18%);

// Font
$manrope: 'Manrope', sans-serif;
$weight: 800;